*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 18px;
}

body{
  line-height: 1.4;
}
/* Header */
header{
  width: 960px;
  display: flex;
  position: relative;
  top: 1rem;
  margin: 0 auto;
  justify-content: space-between;
  background-color: cadetblue;
  align-self: center;
  color: white;
  font-weight: bold;
}

#logo{
  display: inline-flex;
}

#logo img{
  margin: auto 0;
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;
}

#logo h3{
  align-items: center;
  margin: auto 0;
}

#navigation{
  margin: auto 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#navigation span{
  margin: auto;
}

#navigation a{
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

#menu{
  display: none;
}

/* Banner */
#top{
  height: 30rem;
  background-image: url("../images/banner-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner{
  margin: 0 auto;
  position: relative;

  top: 10rem;

  width: 960px;
  text-align: right;
}

#banner h1{

  display: inline-block;
  position: relative;
  background-color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  right: -2rem;
}

/* Main Content */
#icons{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 8rem;
}

.image{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 5rem;
}

#exam{
  width: 3.5rem;
}

#fitting, #delivery{
  width: 5rem;
}

#exam_div{
  margin-right: 6rem;
}

#fitting_div{
  margin-right: 6rem;
}

#info{
  display: flex;
  justify-content: center;
}

.info_sec{
  width: 35%;
  margin-bottom: 5rem;
}

.info_sec h3{
  width: 10rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  margin-bottom: 1rem;
}

.info_sec p{
  font-family: Helvetica;
}

#philosophy{
  margin-right: 5%;
}

/* Footer Section */

footer{
  margin-left: 4rem;
  margin-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img{
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 4rem;
  display: inline-block;
}

footer p {
  display: inline-block;
}

/* Tablet Target */
@media only screen and (min-width: 451px) and (max-width: 1000px){
  header{
    position: relative;
    top: 0;
    width: 100%;
  }

  nav{
    height: 100%;
  }

  nav a{
    margin: auto 0;
  }

  #top{
    height: 22rem;
    width: 100%;
  }

  #menu{
    display: none;
  }

  #banner{
    margin: 0 auto;
    margin-right: 4rem;
    position: relative;
    top: 5rem;
    width: auto;
  }

  #banner h1{
    display: inline-block;
    font-size: 1.33rem;
    padding: .75rem 4rem;
  }

  footer{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 4rem;
  }
}

/* Mobile Target */
@media only screen and (max-width: 625px){
  header{
    width: 100%;
  }

  nav a{
    margin: auto 0;
  }

  #logo h3{
    display: none;
  }

  #top{
    height: 17rem;
    background-position: 20%
  }

  #menu{
    display: inline-block;
  }

  .nl{
    display: none;
  }

  #banner{
    margin: 0 auto;
    position: relative;
    top: 9rem;
    width: 100%;
  }

  #banner h1{
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
    right: 0;
    width: 100%;
  }

  #icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    height: auto;
  }

  #icons h5{
    font-family: Helvetica;
    font-size: 0.77rem;
  }

  #exam_div, #fitting_div{
    margin-right: 0;
  }

  .image{
    margin-bottom: 1.54rem;
    height: auto;
  }

  .image img{
    margin-bottom: 1.54rem;
  }

  #info{
    flex-direction: column;
  }

  .info_sec{
    width: 100%;
  }

  .info_sec h3{
    width: 100%;
    text-align: center;
  }

  .info_sec p{
    margin-bottom: 4rem;
    font-family: Helvetica;
    font-size: 0.77rem;
    margin-left: .5rem;
  }

  footer{
    margin-left: 0;
    margin-right: 0;
  }

  footer img{
    margin: auto;
  }

  footer p{
    display: none;
  }
}
